{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
        <title>Хорий блог</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<meta name="yandex-verification" content="302bfbbc1b1529cd" />
    </head>
    <body>
	
        <div class="page-header">
		{% if user.is_authenticated %}
		
		<a href="{% url 'logout' %}">Выйти</a><br />
		{% else %}
		<a href="{% url 'register' %}">Жми, чтобы познакомиться ближе!</a>
		<a href="{% url 'login' %}">Логин</a>
		{% endif %}
       	     <div id="time">
	    </div>
	    {% if user.is_authenticated %}
	    
	    <div id="edit"><a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
	    <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
	    </div>
	    
	    {% endif %}
            <h1><a href="/">Моняшкин Блог</a></h1>


	    {% if user.is_authenticated %}
		<h2 id="hello">Моня говорит привет, {{ user.username }}!</h2>
		{% else %}
		<h3 id ="hello">Моня приветствует тебя!</h3>
	    {% endif %}



	 </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
<script>
function printTime() {
  var d = new Date();
  var hours = d.getHours();
  var mins = d.getMinutes();
  var secs = d.getSeconds();
  document.getElementById("time").innerHTML = hours+":"+mins+":"+secs;
}
setInterval(printTime, 1000);
</script>
    </body>
</html>